<!-- EPUBREADER -->
<epubreader src="{{bookURL}}"
    audio="audio"
    ng-if="bookURL"
    cfi="cfi">
</epubreader>

<div class="el-reader-message" ng-show="!bookURL">
    <div class="el-reader-message-overlay">
        <div class="row">
            <div class="small-12 medium-11 large-10 columns small-centered">
                <div class="el-reader-message-box">
                    <div class="el-reader-message-box-inner text-center">
                        <i class="fa fa-book fa-3x"></i>
                        <i class="fa fa-question fa-3x"></i>
                        <br />
                        <span>Por favor, informe o endereço do livro na URL.</span>
                        <br />
                        <p>Por exemplo: <br /><strong>?url=https://dl.dropboxusercontent.com/s/qgashwuoujjk5x3/O_Que_e_o_Que_e_V.epub</strong></p>
                        <p><i class="fa fa-volume-up fa-2x"></i> Para abrir com áudio: <strong>&audio=1</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

